.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/serialport/**
!node_modules/@serialport/**
!node_modules/debug/**
!node_modules/ms/**
!node_modules/node-addon-api/**
!node_modules/node-gyp-build/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
